# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data files (optional if large)
data/raw/*.csv

models/
*.pkl

# OS files
.DS_Store
Thumbs.db

.virtual_documents

.ipynb_checkpoints/

data/raw